
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<div class="contct_page">
    <div class="container">
        <div class="col-xs-12 col-sm-7">
            <h3>Get in Touch</h3>
            <p>Please fill out the quick form and we will be in touch.</p>

            <form class="contact_form">

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" id="email" class="form-control" name="eml" placeholder="Email..." />
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" id="phone" class="form-control" name="txt" placeholder="Phone..." />
                </div>
                <div class="form-group">
                    <label>Web</label>
                    <input type="text" id="web" class="form-control" name="txt" placeholder="Web..." />
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <input type="text" id="fax" class="form-control" name="txt" placeholder="Fax..." />
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea id="address" placeholder="Address"></textarea>
                </div>

                <div class="form-group">
                    <button id="submit">Submit</button>
                </div>
            </form>
            <lable id="err_Message"></lable>
        </div>



        <div class="col-xs-12 col-sm-offset-2 col-sm-3 text_contact">
            <h2>Contact with us</h2>
            <h4>For support or any questions:<br /> Email us at info@acervdmv.com</h4>
            <h4>
                875 towerview Rd suite <br />a1 herndon, va 20171<br />
                tel: 571-367-9223<br />
                email: info@acervdmv.com<br />
                web: www.acervdmc.com<br />
            </h4>
            @*<h4><b>Lorem</b><br /> Ipsum doller to set the main course to improve the circuit.</h4>
                <h4><b>Doller</b><br /> Address , 12345, Ipsum Doler to set.</h4>
                <h4><b>Lorem</b><br /> Ipsum doller to set the main course to improve the circuit.</h4>*@
        </div>
    </div>


    <div class="map_page">

        <div class="container" style="width:100%;height:500px"  id="map">
            @*<img src="/images/WorldWallMapEducationtext.jpg" />*@
        </div>
    </div>
</div>
<script>
    // Google map Code
      function initMap() {
          var myLatLng = { lat: 38.931998, lng: -77.422375 };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '2875 Towerview Rd'
        });
      }
      var isblank = /^(\s)+$/;
      var isValidEmail = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
      $('#submit').click(function () {
          var email = $('#email').val();
          var phone = $('#phone').val();
          var web = $('#web').val();
          var fax = $('#fax').val();
          var address = $('#address').val();
          if (email == '') {
              $("#err_Message").html('Please enter Email.');
              return false;
          }          
          else if (email.search(isValidEmail) == -1) {
              $("#err_Message").html('Please enter Correct Email.');
              return false;
          }
          else if (phone == '') {
              $("#err_Message").html('Please enter Phone.');
          }         
         
          else if (address == '') {
              $("#err_Message").html('Please enter Address');
              return false;
          }
          else {
              $.ajax({
                  url: "/Home/ContactRequestDetails",
                  dataType: "json",
                  data: "{'email':'" + email + "', 'phone':'" + phone + "', 'web':'" + web + "', 'fax':'" + fax + "', 'address':'" + address + "'}",
                  type: "post", success: function (data) {

                      $("#err_Message").html('Message sent sucessfully.');
                      $('#email').val('');
                      $('#phone').val('');
                      $('#web').val('');
                      $('#fax').val('');
                      $('#address').val('');
                      return true;
                  }, error: function (data) {
                      return false;
                  }
              });
          }
          return false;
      });
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADd4GQx2SB8e98M2IdojQKZHgzUeeHFto&callback=initMap">
</script>


