@model IEnumerable<ClassLibrary1.VehicleImage>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img  style="height:150px;width:200px" src="@item.ImageUrl" />
            </a>
        </div>
    }

    @for (int i = 0; i < (12 - Model.Count()); i++)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img  style="height:150px;width:200px" src="~/Content/dropzone/images/noimage.png" />
            </a>
        </div>
    }

</div>